<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="MonoGame.Framework.DesktopGL" version="3.5.0.1620-develop" targetFramework="net45" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.0" targetFramework="net45" />
</packages>