<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.6" targetFramework="net45" />
  <package id="MonoGame.Framework.Content.Pipeline.Portable" version="3.2.99.1-Beta" targetFramework="net452" />
  <package id="MonoGame.Framework.Portable" version="3.2.99.1-Beta" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
</packages>